.HighlightsContainer {
  padding: 30px;
}

.Heading {
  align-self: flex-start;
  width: 1136px;
  margin: 0 auto;
  padding: 0;
  padding-left: 16px;
}
.HiglightsContentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.HighlightsContent {
  width: 1136px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 1rem;
  justify-content: center;
  min-height: 380px;
}

.cardContainer {
  flex: 1 1 30%;
  max-width: calc(33.33% - 16px);
  min-width: 300px;
  transition: transform 0.3s ease-in-out;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(1.02);
  z-index: 10;
}

/* For smaller screens, set the width to 80% */
@media screen and (max-width: 1136px) {
  .HighlightsContent,
  .Heading {
    max-width: 80%;
  }
}
