.SectionContainer {
  background-color: #e6f2f2;
  padding: 20px;
  width: 1136px;
  margin: 0 auto;
}

/* For smaller screens, set the width to 80% */
@media screen and (max-width: 1136px) {
  .SectionContainer {
    max-width: 80%;
  }
}

/* For Bigger Screen */
@media (min-width: 870px) {
  .SectionContainer {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}

